.related_products{
    position: relative;
    width: 300px;
    height: 400px;
}

.product_img{
    object-fit: cover; 
    width: 100%;
    height: auto;
}

.unlike_icon{
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
}